<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>hueTempratureMonitor v0.0.1 - Dashboard</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="h-full bg-gray-800">
        <!--
        This example requires updating your template:

        ```
        <html class="h-full bg-gray-100">
        <body class="h-full">
        ```
        -->
        <div class="min-h-full">
            <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                    <img class="h-9 w-9" src="/static/icon.svg" alt="hueTempratureMonitor icon">
                    </div>
                    <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
                        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Team</a>
                        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Projects</a>
                        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Calendar</a>
                        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Reports</a>
                    </div>
                    </div>
                </div>
                <div class="hidden md:block">
                    <div class="-mr-2 flex md:hidden">
                        <!-- Mobile menu button -->
                        <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <!-- Menu open: "hidden", Menu closed: "block" -->
                            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <!-- Menu open: "block", Menu closed: "hidden" -->
                            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        
            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="md:hidden" id="mobile-menu">
                <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Team</a>
                </div>
            </div>
            </nav>
        
            <header class="bg-dark">
            <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-white">Dashboard</h1>
            </div>
            </header>
            <main>
            <div class="mx-auto max-w-7xl py-6 px-3 sm:px-6 lg:px-8">
                <!-- Charts -->
                <h2 class="text-2xl tracking-normal text-white">Daily: Temperature</h2>
                <canvas id="dayChartTemp"></canvas>
                <br><br>

                <h2 class="text-2xl tracking-normal text-white">Daily: Light level</h2>
                <canvas id="dayChartLightLevel"></canvas>
            </div>
            </main>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            function constructDatasets(entries) {
                return fetch("/api/v1/sensors/")
                    .then((response) => { return response.json() })
                    .then((sensors) => {
                        let datasets = []

                        for(let entry of entries) {
                            let entrySensorName = sensors.sensors.find((e) => e.id == entry["SensorId"]).metadata.name;

                            let addedDataset = null;
                            for(let dataset of datasets) {
                                if(dataset["label"] == entrySensorName) {
                                    addedDataset = dataset;
                                }
                            }

                            if(addedDataset == null) {
                                datasets.push({
                                    label: entrySensorName,
                                    data: [entry.Value],
                                    cubicInterpolationMode: 'monotone',
                                    tension: 0.4
                                });
                            } else {
                                addedDataset.data.push(entry.Value);
                            }
                        }

                        return datasets;
                    })
            }

            fetch("/api/v1/entries/temperature/" + new Date().toISOString().slice(0, 10) + "/")
                .then((response) => { return response.json() })
                .then((data) => {
                    console.log(data)

                    constructDatasets(data.items)
                        .then((datasets) => {
                            console.log(datasets)

                            const ctx = document.getElementById('dayChartTemp');
                        
                            new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: [... new Set(data.items.map(x => new Date(x.Created).toLocaleTimeString('de-DE')))],
                                    datasets: datasets
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        })

                    
                });
            
            fetch("/api/v1/entries/light_level/" + new Date().toISOString().slice(0, 10) + "/")
            .then((response) => { return response.json() })
            .then((data) => {
                console.log(data)

                constructDatasets(data.items)
                        .then((datasets) => {

                            console.log(datasets)

                            const ctx = document.getElementById('dayChartLightLevel');
                        
                            new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: [... new Set(data.items.map(x => new Date(x.Created).toLocaleTimeString('de-DE')))],
                                    datasets: datasets
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        });
            });
        </script>
    </body>
</html>